# Python cache
*.pyc

# OS X temporary metadata
._*
*.DS_Store

# Wiki page
wiki/

# Results
output/

# vscode
.vscode/settings.json

# z*.py
z*.py

# .style.yapf
.style.yapf

# pylintrc
.pylintrc

# debug_files
/debug_files

# requiements
/requiements