# Python cache
*.pyc

# OS X temporary metadata
._*
*.DS_Store

# Results
output/

# vscode
.vscode/settings.json

# pylintrc
.pylintrc

# test
lib/test.py

# ShapeNet
/ShapeNet

# .obj
*.obj

# prediction
/prediction

# log
/log